@import "./mixin";
@import "./variable";
@import "./colors";

.delivery-service-section {
    padding: 75px 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;

    @include min-medium {
        padding: 202px 0 156px;
        margin-bottom: 160px;
    }

    &:before {
        content: '';
        @include absolute-max;
        background: radial-gradient(206.2% 294.57% at 8.18% 46.79%, #AFDFE4 0%, #A3DCE8 11.79%, #89D5EF 41.79%, #79D2F4 71.41%, #72D0F6 100%);
    }

    .container {
        z-index: 5;
        position: relative;
    }

    .btn {
        margin: 0 auto;
    }

    .first-line {
        position: absolute;
        top: 100px;
        left: 50px;
        width: 80%;
        bottom: 0;
        img {
            width: 100%;
        }
    }

    h1 {
        margin-bottom: 70px;
    }

    
    .big-dollar {
        position: absolute;
        top: 8%;
        color: #fff;
        left: -100%;
        font-size: 90px;
        font-weight: 900;
        z-index: 2;
        text-shadow: 10px 10px 20px rgba(142, 192, 207, 0.5);
        
        &.show {
            left: 11.3%;
            animation: big_dollar 2s linear;
        }

        @include min-medium {
            top: 18%;
            font-size: 200px;

        }
    }

    .small-dollar {
        position: absolute;
        top: 15%;
        color: #ffffff;
        left: -100%;
        font-size: 54px;
        font-weight: 900;
        text-shadow: 10px 10px 20px rgba(142, 192, 207, 0.5);

        &.show {
            left: 8%;
            animation: small_dollar 2s linear;
        }

        @include min-medium {
            top: 35%;
            font-size: 100px;
        }
    }

    .small-cloud {
        position: absolute;
        top: -100%;
        left: 70%;
        z-index: 2;

        &.show {
            top: 62px;
            animation: cloud 1s linear;
        }

        @include min-medium {
            left: 32%;
        }

    }

    .big-cloud {
        position: absolute;
        top: -100%;
        left: 50.1%;
        z-index: 2;

        &.show {
            top: 62px;
            animation: cloud 1s linear;
        }

        @include min-medium {
            left: 27.1%;
        }
    }
}

.big-plane {
    position: absolute;
    bottom: 0;
    left: 100%;
    z-index: 1;
    @include transform(rotateZ(-45deg));

    &.show {
        left: 79%;
        bottom: 24.5%;
        animation: plane 1s linear;
    }
}



@keyframes plane {
    from { left: 100%; bottom: 0; }
    to   { left: 79%; bottom: 24.5%; }
}

@keyframes cloud {
    from { top: -100%; }
    to   { top: 62px; }
}

@keyframes small_dollar {
    from { left: -100%; }
    to   { left: 8%; }
}

@keyframes big_dollar {
    from { left: -100%; }
    to   { left: 11.3%; }
}