@import "./mixin";

.how-it-works-section {
    background: #F0FBFD;
    padding: 50px 0 170px;

    .btn {
        margin: 0 auto;
    }

    h1 {
        margin-bottom: 97px;
    }
}

.how-it-works-list {
    width: 52%;
    margin: 0 0 60px auto;

    @include min-medium {
        padding-right: 90px;
    }

    .how-it-works-item {
        position: relative;
        padding-left: 46px;

        font-family: "SF UI Text", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 36px;
        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0px;
            top: -4px;
            width: 40px;
            height: 40px;
            background-image: url("./assets/images/no-check-icon.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        @include min-medium {
            padding-left: 86px;
            margin-bottom: 80px;
            font-size: 18px;
            line-height: 1.67;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                left: -11px;
                top: -23px;
                width: 80px;
                height: 80px;
            }
        }
    }
}