@import "./mixin";

.our-service-offers-section {
    padding: 150px 0 85px;
    //position: relative;
    

    @include min-medium {
        padding: 85px 0 150px;
        margin-bottom: 214px;
    }
    
    .container {
        @include flexbox;
        padding: 200px 15px 88px;
        position: relative;
        justify-content: flex-end;
        @include border-radius(13px);
        background: radial-gradient(111.82% 159.75% at 8.18% 46.79%, #BAE8FA 0%, #B9E8FA 13.93%, #E2F7FF 36.25%, #F0FCFE 60.25%, #E8FBFE 82.73%, #FFFFFF 100%);

        @include min-medium {
            padding: 88px 0;
        }
    }

    .our-service-offers-info-wrap {
        padding: 0 46px 0 6px;
        opacity: 0;
        @include transform(translateY(60px));

        h2 {
            margin-bottom: 32px;
        }
        h3 {
            margin-bottom: 52px;
        }

        &.element-show-js {
            opacity: 1;
            transition: all 1.5s;
            @include transform(translateY(0%));
        }
    }

    .our-service-offers-image-wrap,
    .our-service-offers-info-wrap {
        width: 100%;

        @include min-medium {
            width: 48%;
        }
    }

    .our-service-offers-image-wrap {
        position: absolute;
        top: -100px;
        left: 0;
        height: 300px;

        @include min-medium {
            top: -125px;
            left: -25px;
            bottom: -175px;
            height: auto;
        }
    }

    .ticket-image,
    .phone-image,
    .earphone-left-image,
    .earphone-right-image {
        position: absolute;
        bottom: 0;
        left: -200%;
        z-index: 2;

        @include min-medium {
            bottom: initial;
        }

        img {
            height: 100%;
        }
    }

    .ticket-image {
        height: 100%;

        img {
            height: 100%;
        }

        @include min-medium {
            top: 50%;
            bottom: initial;
            @include transform(translateY(-50%));
        }
    }

    .phone-image {
        @include min-medium {
            top: 10%;
        }

        img {
            height: 100%;
            max-height: 260px;

            @include min-medium {
                max-height: 556px;
            }
        }
    }

    .earphone-right-image {

        @include min-medium {
            top: 24%;
        }

        img {
            max-height: 94px;

            @include min-medium {
                max-height: initial;
            }
        }
    }

    .earphone-left-image {
        top: 50%;

        @include min-medium {
            top: 34%;
        }
        
        img {
            max-height: 94px;

            @include min-medium {
                max-height: initial;
            }
        }
    }
}


.element-show-js {
    .our-service-offers-image-animation {
        &.ticket-image {
            left: -2%;
            animation: ticket-image 1.5s;
        }
    
        &.phone-image {
            left: 32%;
            animation: phone-image 1.5s;
        }
    
        &.earphone-right-image {
            left: 85%;
            animation: earphone-right-image 1.5s;
        }
    
        &.earphone-left-image {
            left: 70%;
            animation: earphone-left-image 2s;
        }
    }
}

@keyframes ticket-image {
    from {left: -100%;}
    75% {left: 6%;}
    to {left: -2%;}
}
@keyframes phone-image {
    from {left: -100%;}
    75% {left: 38%;}
    to {left: 32%;}
}
@keyframes earphone-right-image {
    from {left: -100%;}
    75% {left: 95%;}
    to {left: 85%;}
}
@keyframes earphone-left-image {
    from {left: -98%;}
    75% {left: 82%;}
    to {left: 70%;}
}